@model List<PROGETTO_S3.Models.Order>

@{
    ViewData["Title"] = "Order List";
}

<h2 class="font-personal">@ViewData["Title"]</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<button id="btnGetProcessedCount" class="btn-sm btn-personal my-2">Processed Orders Count:</button>
<span id="processedOrdersCount"></span>

<button id="btnGetTotalIncome" class="btn-sm btn-personal my-2">Total income:</button>
<span id="totalIncome"></span>

<table class="table table-striped border-personal">
    <thead>
        <tr class="bg-personal2">
            <th>IdOrder</th>
            <th>Address</th>
            <th>Additional Notes</th>
            <th>Is Processed</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>IdUser</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.IdOrder</td>
                <td>@order.Address</td>
                <td>@order.AdditionalNotes</td>
                <td>
                    @if (order.IsProcessed)
                    {
                        <span class="badge bg-personal">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-personal text-dark">No</span>
                    }
                </td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>@order.IdUser</td>
                <td>
                    @if (!order.IsProcessed)
                    {
                        <form asp-controller="Cart" asp-action="IsProcessed" method="post">
                            <input type="hidden" name="idOrder" value="@order.IdOrder" />
                            <button type="submit" class="btn btn-sm btn-personal">Mark as Processed</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Cart" asp-action="IsProcessed" method="post">
                            <input type="hidden" name="idOrder" value="@order.IdOrder" />
                            <button class="btn btn-sm btn-personal2">Mark as non Processed</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
